@charset "utf-8";
/* CSS Document */

.header {
	
  padding: 30px;
  text-align: center;
  background: #6A85FF;
  color: #093E99;
  font-size: 20px;

}
		
.topnote {
	
  text-align: left;
  background: #A7CDFF;
  color: #559EFF;
  font-size: 5px;
  border: 4px solid #C6DEFF;
  margin-bottom: 5px;
	
}

h2{
	
	text-align: left;
	
}

.box {
	
      width: 500px; /* Width of the box */
      height: 30px; /* Height of the box */
      background-color: #A7CDFF; /* Background color */
	  text-align: right;
  
}

h5 {
	
   text-align: left;
   color: #929292;
   font-size: 5px;
	
}

h1 {
	
   text-align: center;
   background-color: #99EA56;
   color: #56862E;
   padding: 50px;
   font-size: 40px;
	
}

h4 {
	
	color: #56862E;
	
}

h6{
	
   text-align: center;
   background-color: #6A85FF;
   color: #093E99;
   padding: 15px;

}

h7{
	
   border: 4px solid #C6DEFF;
   background: #A7CDFF;
   text-align: center;
   color: #DFEDFF;
   font-size: 20px;
   font-weight: 750;
   display: flex;
   justify-content: center; /* Horizontal alignment */
   align-items: center; /* Vertical alignment */
   padding: 10px;
   max-width: 25%;
   margin-bottom: 15px;
   margin: auto;
	
	
}

h8{

   margin-top: 20px;
   border: 4px solid #CDFFD5;
   background: #ABFFB8;
   text-align: center;
   color: #FFFFFF;
   font-size: 23px;
   font-weight: 750;
   padding: 10px;
   display: flex;
   justify-content: center; /* Horizontal alignment */
   align-items: center; /* Vertical alignment */
   max-width: 25%;
   margin: auto;
   
	
}

.row {
	
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
	
}

.row div {
	
  background-color: #99EA56;
  border: 0.5px solid #A9F36B;
  padding: 5px;
  font-size: 15px;
  text-align: center;
	
}

h3{
	
	color: #BD7B00;
	font-size: 30px;
	font-weight: 1000;
	
}

.smallred{
	
	background: #FC6262;
	padding: 35px;
	
}

.redbackground {
	
	background: #FC6262;
	
	
}
		
.yellowbackground {
			
	background: #FFDE49;
	text-align: center;
	margin: auto;
    width: 50%;
	padding: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
	
	
}

.footer {
	
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
	
}

.footer div{
	
  background-color: #6A85FF;
  border: .1px solid #597DBD;
  padding: 1px;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;

}

.imgrow1{
	
	gap: 50px;
	margin-bottom: 50px;
	display: block; /* Forces vertical stacking */
	

}

.imgrow2{
	
	gap: 50px;  
    margin-bottom: 50px;
	display: block; /* Forces vertical stacking */
    
}

.imgrow3{
	
	gap: 50px; 
	margin-bottom: 50px;
	display: block; /* Forces vertical stacking */
	

}

.imgrow4{
	
	gap: 50px;  
	margin-bottom: 50px;
	display: block; /* Forces vertical stacking */

}

.imgrow5{
	
	gap: 50px;
	margin-bottom: 50px;
	display: block; /* Forces vertical stacking */

}

.imgrow6{
	
	gap: 50px;  
	margin-bottom: 30px;
	display: block; /* Forces vertical stacking */

}

.imgrow7{
	
	gap: 50px;  
	margin-bottom: 30px;
	display: block; /* Forces vertical stacking */

}

.imgrow8{
	
	gap: 50px;  
	margin-bottom: 30px;
	display: block; /* Forces vertical stacking */
	

}

img{
	
	max-width: 100%;
	padding-bottom: 20px;
	
	
}
