<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Popular Sights (page 2)</title>
</head>

	<link rel="stylesheet" href="css/secondpage.css">
	
<body>
	
	<div class="header">
		
		<img id="image-container">
		<img src="img/logos&icons.png" alt="" style= "width: 1400px; height: 200px; text-align: left;">
	<div class= "container">
		<h2>Puerto Rico: San Juan Guide</h2>
		</div>
		<div class="row">
			
           <div class="column" style="background-color:#A7CDFF; border-color:#A7CDFF; float: right;">
		   <h5>Search!!..............</h5>
    </div>
			
			<div class="column" style="background-color:#FC6262; border-color: #FC6262; width: 35px; height: 25px; float: right;">
		   <img src= "img/search-icon.png" alt="" style= "width: 30px; height: 25px;">
	</div>
	</div>
	</div>
	
	<div class="row">
		
  <div class="column" style="">
    <h4>Puerto Rico</h4>
  </div>
  <div class="column" style="">
    <h4>Old San Juan</h4>
  </div>
  <div class="column" style="">
    <h4>Information</h4>
  </div>
  <div class="column" style="">
    <h4>History</h4>
  </div>
 <div class="column" style="">
    <h4>Beaches</h4>
  </div>
 <div class="column" style="">
    <h4>Weather</h4>
  </div>
</div>
	
	<div class="redbackground">

<div class= "smallred">
<div class= "captionheader">
	<h1>Popular Sights to Visit</h1>
	</div>
	</div>
		
	<div class="yellowbackground">
	
		<div class="imgrow1">
		<h3>El Yunque National Forest</h3>
			<img src="img/el-yunque-forest.png" alt="" style="width: 300px; height: 300px;">
			<h7>Read About...</h7>
			<h8>Book Now!</h8>
		
		<div class="imgrow2">
		<h3>Condado Beach</h3>
			<img src="img/condado-beach.png" alt="" style="width: 300px; height: 300px;">
			<h7>Read About...</h7>
			<h8>Book Now!</h8>
		</div>
		<div class="imgrow3">
			<h3>Castillo San Felipe Del Morro</h3>
			<img src="img/castillo-del-morro.png" alt="" style="width: 300px; height: 300px;">
			<h7>Read About...</h7>
			<h8>Book Now!</h8>
		</div>
		<div class="imgrow4">
		<h3>La Perla</h3>
			<img src="img/la-perla.png" alt="" style="width: 300px; height: 300px;">
			<h7>Read About...</h7>
			<h8>Book Now!</h8>
		</div>
		<div class="imgrow5">
		<h3>La Placita</h3>
			<img src="img/la-placita.png" alt="" style="width: 300px; height: 300px;">
			<h7>Read About...</h7>
			<h8>Book Now!</h8>
		</div>
		<div class="imgrow6">
		<h3>La Concha: Resort and Casino</h3>
			<img src="img/la-concha.png" alt="" style="width: 300px; height: 300px;">
			<h7>Read About...</h7>
			<h8>Book Now!</h8>
		</div>
		<div class="imgrow7">
		<h3>Mall of San Juan</h3>
			<img src="img/mall-san-juan.png" alt="" style="width: 300px; height: 300px;">
			<h7>Read About...</h7>
			<h8>Book Now!</h8>
		</div>
		<div class="imgrow8">
		<h3>Museo de Arte Contemporáneo</h3>
			<img src="img/museo-de-arte.png" alt="" style="width: 300px; height: 300px;">
			<h7>Read About...</h7>
			<h8>Book Now!</h8>
		</div>
		
        </div>
		
		</div>
		
	<div class= "footer">
	
  <div class="column2" style="">
    <h6>FAQS</h6>
	</div>
  <div class="column2" style="">
    <h6>Terms of Service</h6>
  </div>
  <div class="column2" style="">
    <h6>Contact Us</h6>
	</div>
    </div>
				
</body>
</html>
