<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Booking Page of My Website (page 3)</title>
	</head>
	
	<link rel="stylesheet" href="css/thirdpage.css">
	
	<body>
	<div class="header">
		
		<img id="image-container">
		<a href="https://astr0ja3ja3.github.io/avt217/avt217-rev/project/p3.1.first.page.html">
		<img src="img/logos&icons.png" alt="" style= "width: 1400px; height: 200px; text-align: left;">
		</a>
	<div class= "container">
		<h2>Puerto Rico: San Juan Guide</h2>
		</div>
		<div class="row">
			
           <div class="column" style="background-color:#A7CDFF; border-color:#A7CDFF; float: right;">
		   <h5>Search!!..............</h5>
    </div>
           <div class="column" style="background-color:#FC6262; border-color: #FC6262; width: 35px; height: 25px; float: right;">
		   <img src= "img/search-icon.png" alt="" style= "width: 30px; height: 25px;">
	</div>
	</div>
		</div>
		
	<div class="row">
		
  <div class="column" style="">
	  <h4><a href="#">Puerto Rico</a></h4>
  </div>
  <div class="column" style="">
	  <h4><a href="#">Old San Juan</a></h4>
  </div>
  <div class="column" style="">
	  <h4><a href="https://astr0ja3ja3.github.io/avt217/avt217-rev/project/p4.4.fourth.page.html">Information</a></h4>
  </div>
  <div class="column" style="">
	  <h4><a href="#">History</a></h4>
  </div>
 <div class="column" style="">
	 <h4><a href="#">Beaches</a></h4>
  </div>
 <div class="column" style="">
	 <h4><a href="#">Weather</a></h4>
  </div>
</div>
		
<div class="topnote">
  <h3>You Selected This Activity/Has Seleccionado Esta Actividad</h3>
</div>
		
<div class="redbackground">

<div class= "smallred">
<div class= "captionheader">
	<h1>Booking</h1>
	</div>
	</div>
	
<div class="yellowbackground1">
	
	<img src= "img/turtle-image.png" alt="" style= "padding: 20px; margin: auto; width: 50%;">
	<h7>San Juan Snorkeling With Turtles</h7>
	<a href="#">
	<img src= "img/stars-and-reviews.png" alt= "" style= "width: 500px; height: 50px; padding-left: 40px; padding-bottom: 10px">
	</a>
	<h8>Cancelation</h8>
	<h9>$47-$112</h9>
	<h10><a href="#">Check Availability</a></h10>
	</div>
	
<div class="yellowbackground2">
	
<div class= "filtercolumn">
	<div class= "column3" style="">
		<h11><a href="#">Morning</a></h11>
	</div>
  <div class="column3" style="">
	  <h11><a href="#">Afternoon</a></h11>
  </div>
  <div class="column3" style="">
	  <h11><a href="#">Night</a>t</h11>
	</div>
	</div>
	
	<div class= "imgrow">
      <img src= "img/kayak.png" alt="" style= "padding-left: 50px; width: 300px; height: 250px; width: 100%;">
	  <img src= "img/kayak-side.png" alt="" style= "padding-top: 20px; width: 300px; height: 200px;">
	</div>
	
	<div class= "imgrow2">
	  <img src= "img/bacardi.png" alt="" style= "padding-left: 50px; width: 300px; height: 250px; width: 100%;">
	  <img src= "img/bacardi-side.png" alt="" style= "padding-top: 20px; width: 300px; height: 200px;">
	</div>
	
	<div class= "imgrow3">
	  <img src= "img/el-yunque-waterslide.png" alt="" style= "padding-left: 50px; width: 210px; height: 230px; width: 100%;">
	  <img src= "img/yunque-side.png" alt="" style= "padding-top: 20px; width: 350px; height: 200px;">
	</div>
	
	<div class= "imgrow4">
	  <img src= "img/AVTs.png" alt="" style= "padding-left: 50px; width: 350px; height: 250px;">
	  <img src= "img/avt-side.png" alt="" style= "padding-top: 20px; width: 300px; height: 200px;">
	</div>
	
	<div class= "imgrow5">
	  <img src= "img/jet-skis.png" alt="" style= "padding-left: 50px; width: 350px; height: 250px;">
	  <img src= "img/jet-side.png" alt="" style= "padding-top: 20px; width: 210px; height: 200px;">
	</div>
	
	<div class= "imgrow6">
	  <img src= "img/bioluminescent-bay.png" alt="" style= "padding-left: 50px; width: 350px; height: 250px;">
	  <img src= "img/bay-side.png" alt="" style= "padding-top: 20px; width: 260px; height: 200px;">
	</div>
	
	<div class= "imgrow7">
	  <img src= "img/zipline.png" alt="" style= "padding-left: 50px; width: 350px; height: 250px;">
	  <img src= "img/zipline-side.png" alt="" style= "padding-top: 20px; width: 320px; height: 200px;">
	</div>
	
</div>
	
	</div>
		
<div class= "footer">
	
  <div class="column2" style="">
	  <h6><a href="#">FAQS</a></h6>
	</div>
  <div class="column2" style="">
	  <h6><a href="#">Terms of Service</a></h6>
  </div>
  <div class="column2" style="">
	  <h6><a href="#">Contact Us</a></h6>
	</div>
</div>

</body>
</html>
