<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>About Page (page 4)</title>
</head>

	<link rel="stylesheet" href="css/fourthpage.css">
	
<body>
	
	<div class="header">
		
		<img id="image-container">
		<a href="https://astr0ja3ja3.github.io/avt217/avt217-rev/project/p3.1.first.page.html">
		<img src="img/logos&icons.png" alt="" style= "width: 1400px; height: 200px; text-align: left;">
		</a>
	<div class= "container">
		<h2>Puerto Rico: San Juan Guide</h2>
		</div>
		<div class="row">
			
           <div class="column" style="background-color:#A7CDFF; border-color:#A7CDFF; float: right;">
		   <h5>Search!!..............</h5>
    </div>
           <div class="column" style="background-color:#FC6262; border-color: #FC6262; width: 35px; height: 25px; float: right;">
		   <img src= "img/search-icon.png" alt="" style= "width: 30px; height: 25px;">
	</div>
	</div>
		</div>
	
	<div class="row">
		
  <div class="column" style="">
    <h4>Puerto Rico</h4>
  </div>
  <div class="column" style="">
    <h4>Old San Juan</h4>
  </div>
  <div class="column" style="">
    <h4><a href="https://astr0ja3ja3.github.io/avt217/avt217-rev/project/p4.4.fourth.page.html">Information</a></h4>
  </div>
  <div class="column" style="">
    <h4>History</h4>
  </div>
 <div class="column" style="">
    <h4>Beaches</h4>
  </div>
 <div class="column" style="">
    <h4>Weather</h4>
  </div>
</div>
	
	<div class="redbackground">

<div class= "smallred">
<div class= "captionheader">
	<h1>About San Juan</h1>
	</div>
	</div>
	
<div class="yellowbackground">
	
	<div class="imgrow1">
	<h3>Old San Juan/El Viejo San Juan</h3>
	<img src="img/old-san-juan.png" alt="">
		 <p>Old San Juan is a historic and vibrant district in Puerto Rico, known for its rich history, colorful architecture, and significant cultural landmarks...</p>
	<h8>Read More!</h8>
	</div>
	<div class="imgrow2">
	<h3>Old San Juan/El Viejo San Juan</h3>
	<img src="img/new-san-juan.png" alt="">
		 <p>New San Juan represents the vibrant, modern side of Puerto Rico’s capital, featuring luxury hotels, high-rise resorts, entertainment, and...</p>
	<h8>Read More!</h8>
	</div>
	<div class="imgrow3">
	<h3>Geography</h3>
	<img src="img/geography.png" alt="">
		 <p>San Juan is the capital of Puerto Rico. It is located on the northern coast of the island and is characterized by its rich history, significant port, and vibrant...</p>
	<h8>Read More!</h8>
	</div>
	<div class="imgrow4">
	<h3>Fight For Independence</h3>
	<img src="img/fight-for-independence.png" alt="">
		 <p>San Juan, Puerto Rico, has a rich history of resistance and struggles for independence from Spanish colonial rule, marked by local revolts and...</p>
	<h8>Read More!</h8>
	</div>
	<div class="imgrow5">
	<h3>Relationship With The U.S.</h3>
	<img src="img/relationship-with-us.png" alt="">
		 <p>Puerto Rico as a whole became a U.S territory in 1898 following the Spanish- American War, when the U.S. invaded the island and subsequently acquired it from Spain. Initially, Puerto Ricans...</p>
	<h8>Read More!</h8>
	</div>
	<div class="imgrow6">
	<h3>About Being The Capital</h3>
	<img src="img/relationship-with-us.png" alt="">
		 <p>San Juan is the capital city and most populous municipality in the Commonwealth of Puerto Rico, an unincorporated territory of United States. As of 2020 census, it is the 57th-most...</p>
	<h8>Read More!</h8>
	</div>
		
	
		</div>
		
		</div>
		
	<div class= "footer">
	
  <div class="column2" style="">
    <h6>FAQS</h6>
	</div>
  <div class="column2" style="">
    <h6>Terms of Service</h6>
  </div>
  <div class="column2" style="">
    <h6>Contact Us</h6>
	</div>
    </div>
		
</body>
</html>
